<div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <i class="bi bi-quote fa-lg" ></i>


            <p>"I always thought that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times. I recommend it to everybody and buy this template."
            </p>

        </div>
        <div class="carousel-item" data-bs-interval="2000">

            <i class="bi bi-quote"></i>

            <p>"I always thought that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times. I recommend it to everybody and buy this template."
            </p>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <i class="bi bi-quote"></i>


            <p>"I always thought that people used to pay much for quality. But these guys changed my opinion. The  quality exceeds the price many times. I recommend it to everybody and buy this template."
            </p>

        </div>
    </div>

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
</div>
