<div class="container">
    <div class="main-body">
    
          
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>Mohammed Sarfaraz</h4>
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="bi bi-browser-chrome"></i> Website</h6>
                    <span class="text-secondary">https://bootdey.com</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="bi bi-github"></i> Github</h6>
                    <span class="text-secondary">mohammedsarfaraz</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="bi bi-linkedin"></i> LinkedIn</h6>
                    <span class="text-secondary"> sarfaraz </span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="bi bi-instagram"></i> Instagram</h6>
                    <span class="text-secondary">sarfaraz_867</span>
                  </li>
                 
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Mohammed Sarfaraz
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      sarfarazc15<span>&#64;</span>gmail.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      9024852867
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"> Whatsapp No</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        9024852867
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Makrana
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                    </div>
                  </div>
                </div>
              </div>





              <div class="table-responsive">
                <table class="table table-striped text-successtable-border border-light">
                  <thead class="border-light">
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col"><strong>Payable Date</strong></th>
                      <th scope="col"><strong>Amount </strong></th>
                      <th scope="col"><strong>Total Deposit</strong></th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                  
                      
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                     
                    </tr>
                   
                   
                    <tr>
                      <td class="fw-bold">Total</td>
                      <td class="fw-bold">-</td>
                      <td class="fw-bold">-</td>
                      <td class="fw-bold">-</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>



            </div>
          </div>

        </div>
    </div>