<nav class="navbar navbar-expand-lg navbar-white  " style=" background-color: rgb(18, 18, 62)">
    <div class="container-fluid">
      <a class="navbar-brand ms-lg-5" routerLink="">Infinit Degital Solution</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
         
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item "  routerLink="/courses-card">MERN Stack Developer</a></li>
              <li><a class="dropdown-item" routerLink="/courses-card">MEAN Stack Developer</a></li>
             
              <li><a class="dropdown-item" routerLink="/courses-card">Python Developer</a></li>
              <li><a class="dropdown-item" routerLink="/courses-card">JavaScript Developer</a></li>
              <li><a class="dropdown-item" routerLink="/courses-card">More</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>

          
        </ul>
        <form class="d-flex">
           <a routerLink="/register"> <button class="btn btn-outline-warning me-lg-2" type="submit">Sign up</button></a>
         
          <a routerLink="/login"><button class="btn btn-outline-warning me-lg-5" type="submit">Login</button></a>
        </form>
      </div>
    </div>
  </nav>
