<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-2">About Us</h2>
            <h4 class="fw-bold mb-5" style="color: rgb(191, 168, 34); letter-spacing: 2.0px;">Infinit Degital Solution</h4>
        
          
              
           
  
  
              <!-- About Content  -->
              <div class=" mb-4">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia 
                explicabo consectetur velit. Qui dolorum earum itaque veniam porro, 
                saepe modi reiciendis mollitia illo perferendis 
                voluptate perspiciatis nulla ut, provident totam, sit repudiandae maxime.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At dignissimos optio, voluptas eveniet iste earum ratione quaerat. Accusantium laborum neque 
                cupiditate reprehenderit harum ab perspiciatis. Et pariatur voluptatum quo ab!
            </p>
            </div>
  
             
  
              <!-- Register buttons -->
              <div class="text-center">
                
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-instagram"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-google"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-twitter"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-linkedin"></i> 
                </button>
              </div>
        
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <!-- Section: Design Block -->
