
<div style="width: 89%; margin: 0px auto;">
<div class=" mt-4 main">
        <div class="card1">
            <div class="card-header header-basic">
                <h3>JavaScript Developer.</h3 >
            </div>
            <div class="card-body">
                <p>
                <h4>7000/-</h4>
                <p>
                <div class="card-element-hidden-basic">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>                
                    </ul>
                    <button class="btn btn-basic">Purchase Now</button>
                </div>
            </div>
        </div>

        <div class="card2">
            <div class="card-header header-standard">
                <h3>MERN Stack Developer</h3 >
            </div>
            <div class="card-body">
                <p>
                <h4>15000/-</h4>
                <p>
                <div class="card-element-hidden-standard">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>
                    </ul>
                    <button class="btn btn-standard">Purchase now</button>
                </div>
            </div>
        </div>
        <div class="card3">
            <div class="card-header header-basic">
                <h3>MEAN Stack Developer</h3>
            </div>
            <div class="card-body">
                <p>
                <h4>7000 /-</h4>
                <p>
                <div class="card-element-hidden-basic">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>
                    </ul>
                    <button class="btn btn-basic">Purchase Now</button>
                </div>
            </div>
        </div>
        <div class="card4">
            <div class="card-header header-premium">
                <h3>Python Developer</h3>
            </div>
            <div class="card-body">
                <p>
                <h4> 6500/-</h4>
                <p>
                <div class="card-element-hidden-premium">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>
                    </ul>
                    <button class="btn btn-premium">Purchase Now</button>
                </div>
            </div>
        </div>

        <div class="card1">
            <div class="card-header header-basic">
                <h3>C++ Developer.</h3 >
            </div>
            <div class="card-body">
                <p>
                <h4>7000/-</h4>
                <p>
                <div class="card-element-hidden-basic">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>                
                    </ul>
                    <button class="btn btn-basic">Purchase Now</button>
                </div>
            </div>
        </div>
        <div class="card2">
            <div class="card-header header-standard">
                <h3>Java Developer</h3 >
            </div>
            <div class="card-body">
                <p>
                <h4>6500/-</h4>
                <p>
                <div class="card-element-hidden-standard">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>
                    </ul>
                    <button class="btn btn-standard">Purchase now</button>
                </div>
            </div>
        </div>
        <div class="card3">
            <div class="card-header header-basic">
                <h3>React Developer</h3>
            </div>
            <div class="card-body">
                <p>
                <h4>6000 /-</h4>
                <p>
                <div class="card-element-hidden-basic">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>
                    </ul>
                    <button class="btn btn-basic">Purchase Now</button>
                </div>
            </div>
        </div>
        <div class="card4">
            <div class="card-header header-premium">
                <h3>Node Developer</h3>
            </div>
            <div class="card-body">
                <p>
                <h4> 6500/-</h4>
                <p>
                <div class="card-element-hidden-premium">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>
                    </ul>
                    <button class="btn btn-premium">Purchase Now</button>
                </div>
            </div>
        </div>
        <div class="card1">
            <div class="card-header header-basic">
                <h3>Backend Developer.</h3 >
            </div>
            <div class="card-body">
                <p>
                <h4>7000/-</h4>
                <p>
                <div class="card-element-hidden-basic">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>                
                    </ul>
                    <button class="btn btn-basic">Purchase Now</button>
                </div>
            </div>
        </div>
        <div class="card2">
            <div class="card-header header-standard">
                <h3>C Developer</h3 >
            </div>
            <div class="card-body">
                <p>
                <h4>6500/-</h4>
                <p>
                <div class="card-element-hidden-standard">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>
                    </ul>
                    <button class="btn btn-standard">Purchase now</button>
                </div>
            </div>
        </div>
        <div class="card3">
            <div class="card-header header-basic">
                <h3>Angular Developer</h3>
            </div>
            <div class="card-body">
                <p>
                <h4>6000 /-</h4>
                <p>
                <div class="card-element-hidden-basic">
                    <ul class="card-element-container">
                        <li class="card-element">Provide 100% Job Assistance</li>
                        <li class="card-element">Provide Internship Letter</li>
                        <li class="card-element">Provide Recording Videos</li>
                        <li class="card-element">Work On Live Project</li>
                        <li class="card-element">Also Available Demo Class</li>
                    </ul>
                    <button class="btn btn-basic">Purchase Now</button>
                </div>
            </div>
        </div>
        





</div>
</div>