<div class="card bg-dark text-white" style="max-width: 100%;background-color: rgba(0, 0, 0, 0.3);border: none;">
    <img src="../../../assets/All_imgaes/image-card/banner6.png" class="card-img" alt="Stony Beach" style="height: 65%;"/>
    <div class="card-img-overlay" s >
      <h3 class="card-title ">Trusted By More <br> Then 20 Happy Students </h3>
      <p class="card-text">
        Let’s Create Something new and awesome Togeather.
      </p>
      <button class="btn">Today Start <i class="bi bi-arrow-right"></i></button>
    </div>
  </div>