<div class='warp-bg container-fluid'>

    <div class="row justify-content-center my-md-5 mb-2">
        <div class="col-xl-9">
            <div class="row justify-content-center">


                <div class='text-center my-4 '>
                    <div>
                        <h2 class='text-dark'>Push Your Life To a New Level</h2>
                    </div>
                    <div class="bar"></div>
                    <div class='fs-5'>
                        We can help you create positive and permanent changes in your life. Let’s Create Something new
                        and awesome Togeather.
                    </div>

                </div>
            </div>
        </div>
          <!-- ------------------cards start--------------------------- -->

          <div class="card-group">
            <div class="card" *ngFor="let data of cardsGroup ">
                <img  class="top-card-img" src={{data.imgUrl}}  alt="notebook">
              <div class="card-body">
                <h4 class="card-title">{{data.cardTitle}}</h4>
                <p class="card-text"> {{data.cardText}}</p>
                <div class="read-more"><i class="bi bi-arrow-right"></i><span>{{data.readMore}}</span></div>
              </div>
            </div>
            <!-- <div class="card">
              <img  class="top-card-img" src="../assets/All_imgaes/cards img/people.png "  alt="">
              <div class="card-body">
                <h4 class="card-title">Training Mentor</h4>
                <p class="card-text">Open a beautiful store & increase your conversion rates. Deploy a conversion rate optimization. Best Services.</p>
                <div class="read-more"><i class="bi bi-arrow-right"></i><span>Read More</span></div>
              </div>
            </div>
            <div class="card">
              <img  class="top-card-img" src="../assets/All_imgaes/cards img/thinking icon.png "  alt="">
              <div class="card-body">
                <h4 class="card-title">Thinking Creative</h4>
                <p class="card-text">'Thinking Creatively' is a crucial skill that involves the ability to think outside the box and come up with unique, 
                  efficient solutions to coding problems.</p>
                
                <div class="read-more"><i class="bi bi-arrow-right"></i><span>Read More</span></div>
              </div>
            </div> -->
          </div>

          <button class="btn">{{btnText}} <i class="bi bi-arrow-right"></i></button>
    </div>  
</div>